/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,600;1,700&display=swap');

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --gold-color: #F6BC4E;
    --font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*=========FLAGS========= */

body {
    background-color: var(--white-color);
    font-family: var(--font-family);
    overflow-x: hidden;
}

.sections {
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sections h2 {
    margin: 20px;
    font-size: 39px;

}

.main {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.container-img {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 430px;
    padding: 30px;
}

section :nth-child(1) {
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 20px -2px rgba(255, 255, 255, 0.8);
}

section :nth-child(5) {
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 2px 20px -2px rgba(255, 255, 255, 0.8);
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    box-shadow: 0px 2px 20px -2px rgba(255, 255, 255, 0.8);
}

section img:hover {
    cursor: grab;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.title-white-color {
    color: var(--white-color);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-size: clamp(1.875rem, 1.1538rem + 2.3077vw, 3.75rem);
    top: 100px;
}

/*=========CARD=========*/
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(245, 242, 242, 0.811);
}


.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    border-radius: 10px 10px 0px 0px;
}

/*=========MODAL=========*/
#modal-body {
    text-align: justify;
}

.table-striped-columns td {
    text-align: center;
    vertical-align: middle;
    background-color: var(--gold-color);
    font-weight: bold;
}

/*=========BUTTON BACK=========*/
#editar {
    background-color: var(--white-color);
    border: 1px solid var(--gold-color);
    margin: 10px 20px;
    width: 90px;
}

#btn-back {
    background-color: var(--gold-color);
    border: 1px solid var(--gold-color);
    margin: 10px 20px;
    width: 90px;
    transition: background-color 0.3s ease;
}

#btn-back:hover {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}


/* Modficaciones */
.information_footer ul li a {
    text-decoration: none;
}

#email_id,
#button {
    font-size: 13.3px;
}

/* .container-form{
    font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
} */
.container-form h3 {
    color: #000000;
    font-size: 35.1px;
    font-weight: 700;
    font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
}

.information_footer ul {
    padding-left: 0px;
}

/* Modificaciones dayron borrar de ser necesario */
.card-body {
    display: flex;
    flex-direction: column;
}

.wendy-section{
    margin-top: 70px;
}